node_modules
kv3_w.txt
kv_w.txt
dist
/coverage/*
!/coverage/badge-branches.svg
!/coverage/badge-functions.svg
!/coverage/badge-lines.svg
!/coverage/badge-statements.svg
/package/*
!/package/package.json